
.containerlo {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.h1lo{
    font-size: 5rem;
    line-height: 1;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.h3lo{
    font-size: inherit !important;
    line-height: 1.6 !important;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center !important;
    font-family: Sailec-Regular !important;
    font-weight: 400 !important;
    letter-spacing: .25rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.imglo{
    opacity: 0.95;
    filter: blur(5px);
}
form{
    border: none;
    width: 100%;
    border-radius: 0;
    background: transparent;
    outline: none;
    resize: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-size: 1rem;
    text-align: left;
}
.inlo {
    border: none;
    width: 100%;
    border-radius: 0;
    background: transparent;
    outline: none;
    resize: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-size: 1rem;
    text-indent: 0;
    outline-offset: 0;
    background: transparent;
    border: none;
    border-bottom: 0.01px ridge #ffffff;
}
input[type="submit"] {
    text-align: center;
    width: 250px;
    background-color: #000000;
    color: white;
    font-size:18px;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #282828;
  }
.justify-content-center {
    -webkit-box-pack: center ;
    -ms-flex-pack: center ;
    justify-content: center ;
}
@tailwind base;
@tailwind components;
@tailwind utilities;